.errorMessage{
  left:5%;
  color: red;
  font-weight: bold;
  position: relative;
}

.itemList{
  width: 100%;
  left:5%;
  position: relative;
}

.itemDetails{
  width:5%;
}

.boughtButton{
  width: 20%;
}
