<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
    <title>AngularJs-Module2 solution</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>AngularJs-Module2 solution</h1>
    <div ng-controller='ToBuyController as buyCtrl'>
        <h3>To buy:</h3>
        <p ng-if="!buyCtrl.itemsToBuy.length" class="errorMessage">
            Everything is bought! <br/>
        </p>
        <table class="itemList">
          <tr ng-repeat="item in buyCtrl.itemsToBuy">
            <td class="itemDetails">Buy {{item.quantity}} {{item.name}}</td>
            <td class="boughtButton"><input type="button" ng-click="buyCtrl.markItemAsBought($index)" value="Bought"/></td>
          </tr>
        </table>
    </div>
    <div ng-controller='AlreadyBoughtController as boughtCtrl'>
        <h3>Already Bought:</h3>
        <p ng-if="!boughtCtrl.itemsBought.length" class="errorMessage">
            Nothing bought yet
        </p>
        <table class="itemList">
          <tr ng-repeat="item in boughtCtrl.itemsBought">
            <td class="itemDetails">Bought {{item.quantity}} {{item.name}}</td>
          </tr>
        </table>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
