<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <title>AngularJs-Module3 solution</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div ng-controller='NarrowItDownController as narrowDownCtrl'>
        <input type='text' ng-model='searchTerm' placeholder="Search term">
        <input type="button" ng-click="narrowDownCtrl.getMatchedMenuItems(searchTerm)" value="Narrow It Down For Me!" class="filterButton">

        <found-items menu-list="narrowDownCtrl" title="{{narrowDownCtrl.title}}">

        </found-items>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
